.robotContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.6em;
    pointer-events: auto;
    z-index: 10;
    text-align: right;
}

.credits a {
    color: #fff;
    text-decoration: underline;
}

.intro {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    color: #eeeeee;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    transition: opacity 2s ease;
}

.isHidden {
    opacity: 0 !important;
}

.isVisible {
    opacity: 1 !important;
}

.title {
    font-family: 'Cormorant Infant', serif;
    font-size: 3.5vw;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    margin-bottom: 1em;
}

.subTitle {
    font-size: 0.8vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}
